video {
  width: 100%;
  height: auto;
}

button {
  display: flex;
  margin-top: 10px;
  background: #c6c6b5;
  border: none;
  padding: 15px 32px;
  align-items: flex-end;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid_1-1 img {
  width: 100%;
}
