form {
  margin-left: 10px;
  width: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  margin-top: 10px;
}

.banner {
  background: #b0c4de;
}

img {
  width: 100%;
  opacity: 0.9;
}

@media (min-width: 600px) {
  .flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: lightsteelblue;
}
