* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: tekst;
  src: url("fonts/montserrat-variablefont_wght-webfont.woff2") format("woff2");
}

.banner {
  background: #c6c6b5;
  /* padding: 2rem; */
  font-family: tekst;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  font-family: "Montserrat", sans-serif;
}

ul {
  padding-top: 14.5%;
  padding-right: 30px;
  display: flex;
  gap: 25px;
  justify-content: center;
}

/* nav {
  display: flex;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
} */

a {
  color: black;
}

a:hover {
  color: rgb(255, 255, 255);
}

.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none;
}
.logo {
  width: 100px;
  height: 100px;
  margin: 1rem;
  display: flex;
  justify-self: center;
}

footer {
  background: lightgray;
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block;
  }
  .main-menu {
    display: contents;
  }
  .main-menu ul {
    display: none;
  }
  .main-menu.shown ul {
    border-top: 1px solid black;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}
