* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: tekst;
  src: url("fonts/montserrat-variablefont_wght-webfont.woff2") format("woff2");
}
html {
  --space-1: 1rem;
  --space-2: 2rem;
  --space-3: 3rem;
}

.container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.banner {
  background: #c6c6b5;
  /* padding: 2rem; */
  font-family: tekst;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  font-family: "Montserrat", sans-serif;
}

ul {
  padding-top: 14.5%;
  padding-right: 30px;
  display: flex;
  gap: 25px;
  justify-content: center;
}

/* nav {
  display: flex;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
} */

a {
  color: black;
}

a:hover {
  color: rgb(255, 255, 255);
}

.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none;
}
.logo {
  width: 100px;
  height: 100px;
  margin: 1rem;
  display: flex;
  justify-self: center;
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block;
  }
  .main-menu {
    display: contents;
  }
  .main-menu ul {
    display: none;
  }
  .main-menu.shown ul {
    border-top: 1px solid black;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #c6c6b5;
  font-family: tekst;
}

.box1 {
  margin: 10%;
  line-height: 140%;
}

.box2 {
  margin: 10%;
  line-height: 140%;
}

.box3 {
  margin: 10%;
  line-height: 140%;
}

.social_media_icons {
  display: flex;
  gap: 10px;
  width: 22px;
  height: 38px;
  margin-top: 8%;
}

.tlf_icon {
  gap: 10px;
  height: 18px;
  display: flex;
  margin-top: 10%;
}

.mail_icon {
  gap: 10px;
  height: 16px;
  display: flex;
  margin-top: 10%;
}

.icon_tlf {
  width: 16px;
  height: 18px;
  margin-top: 0%;
}

.icon_email {
  width: 20px;
  height: 16px;
  margin-top: 1.5%;
}

footer p {
  font-family: tekst;
  line-height: 140%;
}

@font-face {
  font-family: tekst;
  src: url("fonts/montserrat-variablefont_wght-webfont.woff2") format("woff2");
}

@font-face {
  font-family: overskrift;
  src: url("fonts/marcellus-regular-webfont.woff2") format("woff2");
}
h1 {
  font-family: overskrift;
  padding-bottom: var(--space-1);
  margin-top: 1rem;
}

h2 {
  font-family: overskrift;
  padding-bottom: var(--space-1);
}
h3 {
  font-family: overskrift;
  padding-bottom: var(--space-1);
}

p {
  font-family: tekst;
  line-height: 140%;
}

section {
  font-family: tekst;
  line-height: 140%;
}
