main {
  margin: 2rem 2rem 2rem 2rem;
}

.HN_grid_1-1-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.col {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 600px) {
  .HN_grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
